<nav class="grey lighten-1 z-depth-4">
  <div>
    <a href="/dashboard" class="brand-logo center">Ascetic</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/exercises">Exercises</a></li>
      <li><a href="/workouts">Workouts</a></li>
    </ul>
    <ul id="nav-mobile" class="right">
      <li><a href="/dashboard">Dashboard</a></li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
