<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Exercises</title>
  </head>
  <body>
    <nav class="grey lighten-1">
      <div>
        <a href="/dashboard" class="brand-logo center">Ascetic</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/exercises">Exercises</a></li>
          <li><a href="/workouts">Workouts</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1>Exercises</h1>
      <div class="collection exercises">
        <% exercises.forEach((exercise) => { %>
          <a href="#!" class="collection-item" id="<%= exercise.name %>"><%= exercise.name %></a>
        <% }) %>
      </div>
    </div>

    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  </body>
</html>
